<%if(item.companyDescription ) {%>
    <p class="company font-extrabold italic mb-0.5">
        About the company
    </p>
    <p class="company">
        <%= item.companyDescription %>
    </p>
<%}%>

