---
title: 'About me'
permalink: 'index.html'
pageWidth: 'full'
---

<div class="flex flex-row lg:cover-photo-holder lg:items-center">
    <div class="hidden lg:block cover-photo filter grayscale bg-cover flex-none" style="background-image: url('assets/images/bgcrop.jpg')">
    </div>
    <div class="p-10">
        <h1 class="text-5xl">Hello, I'm <span class="text-yellow-500">Zoli</span></h1>
        <p class="text-2xl">
            I'm a tech entrepreneur and a passionate software developer.<br>
            I'm currently working as CTO at <a href="https://www.livlia.com/" target="_blank">Livlia</a>.
        </p>
        <br>
        <p class="text-lg">
            You can read my <a href="#bio">long story short</a> or my <a href="/cv.html">interactive resume</a> if that is what you're looking for.
        </p>
    </div>
</div>
<div class="lg:hidden flex flex-row justify-center align-middle">
    <div class="cover-photo filter grayscale bg-cover flex-none" style="background-image: url('assets/images/bgcrop.jpg')"></div>
</div>
<div class="flex flex-row cover-photo-holder items-center justify-end">
    <div id="bio" class="p-10">
        <h1 class="text-5xl">About me</h1>
        <p class="text-lg text-justify">
            2011 was a highlighted year in my life. I finished high school, started to study IT engineering, quit professional sports... And this was the year when I started to work on my first software company with my university classmates.
            At that time, I already knew how to write programs that machines understand. Since that, I've been trying to create software that users understand.
            <br>And like.
            <br>And can't break.
            <br>And makes them happy.
            <br>And makes the shareholders happy.
            <br>While trying to fulfill these - sometimes seemingly impossible - objectives, I learned a lot about how businesses work, how teams work, and how technology works.
            <br>
            <br>In the end, I think success does not depend on the framework you use or the spreadsheets you create - it depends on the people you work with and how you can overcome through obstacles together.
        </p>
    </div>
    <div class="hidden lg:block cover-photo filter grayscale bg-cover flex-none" style="background-image: url('assets/images/cover_2.jpg')">
    </div>
</div>
