---
title: Skills
permalink: skills.html
---


<div>
    <p class="text-gray-900">
    Spoken languages: <br/>
    <ul class="text-gray-900">
        <%for (language of cv.languages) {%>
        <li>
            <div class="flex">
                <div class="w-1/3">
                    <%=language.name%>
                </div>
                <div class="w-2/3">
                    <div class="w-full bg-gray-200">
                        <div class="bg-blue-600 text-xs font-medium text-blue-100 text-center p-0.5 leading-none rounded-l-full" style="width: <%=language.percentage%>%">
                            <%=language.level%>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <%}%>
    </ul>
    </p>
</div>
