@import "mixins.scss";

@tailwind base;

a {
  @apply text-yellow-700;
}

a:hover {
  @apply underline;
}

@tailwind components;

@tailwind utilities;

.content {
  @apply tracking-wider leading-8 text-xl;
}

.content p {
  @apply my-5;
}

h1 {
  @apply text-5xl font-bold mb-5 leading-10;
}

h2 {
  @apply text-4xl font-bold mb-5;
}

h3 {
  @apply text-3xl font-bold mb-5;
}

h4 {
  @apply text-2xl font-bold mb-5;
}

h5 {
  @apply text-xl font-bold mb-5;
}

h6 {
  @apply text-lg font-bold mb-5;
}

.content ul,
.content ol,
.content p {
  @apply overflow-auto;
}

.content > div > ul,
.content > div > ol {
  @apply my-6;
}

.content ul,
.content ol {
  @apply pl-8;
}

.content ul {
  @apply list-outside list-disc;
}

.content ol {
  @apply list-outside list-decimal;
}

.content pre[class*='language-'] {
  @apply my-8;
}

.content table {
  @apply whitespace-nowrap my-8 border-collapse block overflow-auto;
}

.content th,
.content td {
  @apply border px-8 py-4;
}

.content th {
  @apply bg-gray-100;
}

//body {
//  @include bp(medium) {
//    display: flex;
//    flex-direction: row;
//  }
//}
//.sidebar {
//  @include bp(medium) {
//    @apply w-1/5;
//    min-height: 100vh;
//    height: 100vh;
//  }
//  background-color: #8c9cad;
//  position: sticky;
//  top: 0;
//}
//
//.main {
//  @include bp(md) {
//    @apply w-4/5;
//  }
//  padding: 2rem;
//}
//
//.cv-spy {
//  li {
//    a {
//      &:not(.active) {
//        display: none;
//      }
//    }
//  }
//}

.shape-circle {
  shape-outside: circle();
}

//.content-bg {
//  background: linear-gradient(rgba(255,255,255,.4), rgba(255,255,255,.4)),
//  url("https://cdn.pixabay.com/photo/2020/07/01/04/08/pattern-5358326_960_720.png");
//  background-size: cover;
//  background-repeat: no-repeat;
//  background-attachment: fixed;
//}

.print-preview .print-preview-full {
  @apply w-full;
}
.print-preview .print-preview-visible {
  @apply block;
}
.print-preview .print-preview-chip {
  @apply py-0;
}
.print-preview .print-preview-lanuage-bar {
  @apply py-0;
}

.print-preview .print-preview-hide {
  @apply hidden;
}

@media print {
  .print-preview-full {
    @apply w-full;
  }
  .print-preview-hide {
    @apply hidden;
  }
  .print-preview-visible {
    @apply block;
  }
  .print-preview-chip {
    @apply py-0;
    @apply text-gray-500
  }
  .print-preview-lanuage-bar {
    @apply py-0;
  }
  body {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }
}

.select-button {
  @apply px-6;
  @apply py-2;
  @apply border-t-2 border-b-2 border-yellow-500;
  @apply text-yellow-500;
  @apply font-medium;
  @apply text-xs;
  @apply leading-tight;
  @apply uppercase;
  @apply hover:bg-black hover:bg-opacity-5;
  @apply focus:outline-none focus:ring-0;
  @apply transition;
  @apply duration-150;
  @apply ease-in-out;

  &.active {
    @apply bg-yellow-500;
    @apply text-black;
  }
}

.cover-photo {
  height: calc(100vh - 72px);
  width: calc((100vh - 72px)*0.783);
}

.cover-photo-holder {
  height: calc(100vh - 72px);
  width: 100%
}
